<h1>Rodolfo Volpiani</h1>

<div class="about-body">
    <div class="container">
        <div class="text">
            <h2>Welcome to my profile</h2>
            <p>Hello, i am Rodolfo Volpiani, an here's somethings about me...</p>
            <p>
                I've always been self-taught, all the English used on the page is written by me without ever 
                having taken any type of course, just music, series and games.
            </p>
            <p>
                Some personal curiosities:
            </p>
            <p>
                - My nephews and nieces are the most valuable thing in my life <br>
                - I love music, it's impossible to finish a day without listening some of my favorites songs <br>
                - I'm a good listener and I convey joy (it's a good thing to have on a team) <br> 
            </p>
            <p>
                Now curiosities about career and studies:
            </p>
            <p>
                - I started in the web developer area in July 2021. <br>
                - During that time I worked with PHP, MySql, JavaScript, jQuery, Laravel, CodeIgniter, HTML and CSS.
                So this is my professional experience. <br>
                - I'm in the 3rd semester of 5 in systems analysis and development. <br>
            </p>
        </div>
        <div class="photo">
            <img src="../../../assets/img/rodolfovolpiani.png" alt="image">
        </div>
    </div>
    <small>You can contact me on <a target="_blank" href="https://www.linkedin.com/in/rodolfovolpiani/">Linkedin.</a></small>
</div>
