<h1>Angular Example</h1>

<div class="home-body">
    <p>Welcome to my Angular test application.</p>
    <p>This application will consume some data from a JSON file (assets/data) and when you click in
        "Table" on the navbar will show you a table with that data.
    </p>
    <p>
        If you want to know a little about me, click in "About".
    </p>
    <small>
        Note: This is my first contact with Angular.
    </small>
    <br>
    <small>
        Open to suggestions, i just want to grow as an Software Developer. Thanks for you visit.
    </small>
</div>