<table>
    <thead>
        <tr>
            <th>Athlete</th>
            <th *ngFor="let modality of scoreSystem">
                {{modality.event}}
            </th>
            <th>Score</th>
            <th>Position</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let athlete of athletes">
            <td>{{athlete.athlete}}</td>
            <td *ngFor="let result of athlete.results">
                {{result.result}}
            </td>
            <td>{{athlete.score}}</td>
            <td>{{athlete.position}}</td>
        </tr>
    </tbody>
</table>
<button (click)="exportToCSV()">Download CSV</button>
